{% extends "pggfg/Page.html" %}
{% load otree %}

{% block title %}
    Final results:
{% endblock %}

{% block inner_content %}
    <table class="table table-stripped table-hover">
        <tr>
            <td colspan="2" class="text-center font-weight-bold">Your payoffs in each period:</td>
        </tr>
        <tr>
            <th>Period:</th>
            <th>Payoff:</th>
        </tr>
        {% for foo in player.in_all_rounds %}
            <tr>
                <td> {{ foo.round_number }}</td>
                <td>{{ foo.payoff }} </td>
            </tr>

        {% endfor %}
        <tr class="table-success">
            <th class="text-center font-weight-bold">Total payoff:</th>
            <th>{{ participant.payoff }}</th>
        </tr>
    </table>

    <h4 class="my-3">Final payoff:</h4>
    <table class="table table-hover table-striped table-bordered">


        <tr>
            <td>Payoff in the study:</td>
            <td>{{ real_payoff }}</td>
        </tr>

        <tr class="table-success">
            <th>Final amount:</th>
            <th>{{ participant.payoff_plus_participation_fee }}</th>
        </tr>
    </table>
    <div class="my-3">
        {% next_button %}
    </div>
{% endblock %}
